apiVersion: v1
kind: Service
metadata:
  name: profile-postgres
  namespace: foodies
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  selector:
    app: profile-postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: profile-postgres
  namespace: foodies
spec:
  serviceName: profile-postgres
  replicas: 1
  selector:
    matchLabels:
      app: profile-postgres
  template:
    metadata:
      labels:
        app: profile-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:18-alpine
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: foodies-config
                  key: PROFILE_DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
