# DEPRECATED: This file is replaced by KeycloakOperator CRDs:
# - k8s/base/keycloak/keycloak-cr.yaml (server configuration)
# - k8s/base/keycloak/keycloak-realm-import-cr.yaml (realm and identity configuration)
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  template:
    spec:
      containers:
        - name: keycloak
          args: ["start-dev"]
