apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - database.yaml

configMapGenerator:
  - name: payment-config
    literals:
      - HOST=0.0.0.0
      - PORT=8085
      - DB_URL=jdbc:postgresql://payment-postgres:5432/foodies-payment-database
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_CONSUME_QUEUE=payment.stock-confirmed
      - RABBITMQ_PUBLISH_EXCHANGE=foodies
      - PAYMENT_ALWAYS_SUCCEED="true"
      - PAYMENT_DELAY_MS="100"
