apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: management
      port: 9000
      targetPort: 9000
  selector:
    app: keycloak
