apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
spec:
  replicas: 1
  image: foodies-rabbitmq:0.0.1
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  rabbitmq:
    additionalPlugins:
      - rabbitmq_delayed_message_exchange
    additionalConfig: |
      default_vhost = /
  persistence:
    storage: 1Gi
  service:
    type: ClusterIP
