apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: guest-permissions
spec:
  user: "guest"
  vhost: "/"
  permissions:
    write: ""
    configure: ""
    read: ""
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: profile-service-permissions
spec:
  user: "profile-service"
  vhost: "/"
  permissions:
    write: ""
    configure: "^profile\\.registration$"
    read: "^profile\\.registration$"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: menu-service-permissions
spec:
  user: "menu-service"
  vhost: "/"
  permissions:
    write: "^foodies$"
    configure: "^(menu\\.|foodies$)"
    read: "^(menu\\.stock-validation|menu\\.stock-returned)$"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: basket-service-permissions
spec:
  user: "basket-service"
  vhost: "/"
  permissions:
    write: ""
    configure: "^(basket\\.order-created$|foodies$)"
    read: "^basket\\.order-created$"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: order-service-permissions
spec:
  user: "order-service"
  vhost: "/"
  permissions:
    write: "^foodies$"
    configure: "^(order\\.|foodies$|foodies\\.events$|foodies\\.events\\.payment\\.succeeded$)"
    read: "^(order\\.|foodies\\.events\\.)"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: payment-service-permissions
spec:
  user: "payment-service"
  vhost: "/"
  permissions:
    write: "^foodies\\.events$"
    configure: "^(payment\\.|foodies\\.events$)"
    read: "^payment\\.stock-confirmed$"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: keycloak-service-permissions
spec:
  user: "keycloak-service"
  vhost: "/"
  permissions:
    write: "profile\\.registration"
    configure: "profile\\.registration"
    read: ""
  rabbitmqClusterReference:
    name: rabbitmq
