apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: guest-permissions
spec:
  user: "guest"
  vhost: "/"
  permissions:
    write: ".*"
    configure: ".*"
    read: ".*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: profile-service-permissions
spec:
  user: "profile_service"
  vhost: "/"
  permissions:
    write: "profile\..*"
    configure: "profile\..*"
    read: "profile\..*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: menu-service-permissions
spec:
  user: "menu_service"
  vhost: "/"
  permissions:
    write: "menu\..*|foodies.*"
    configure: "menu\..*|foodies.*"
    read: "menu\..*|foodies.*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: basket-service-permissions
spec:
  user: "basket_service"
  vhost: "/"
  permissions:
    write: "basket\..*"
    configure: "basket\..*"
    read: "basket\..*|foodies.*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: order-service-permissions
spec:
  user: "order_service"
  vhost: "/"
  permissions:
    write: "order\..*|foodies.*"
    configure: "order\..*|foodies.*"
    read: "order\..*|foodies.*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: payment-service-permissions
spec:
  user: "payment_service"
  vhost: "/"
  permissions:
    write: "payment\..*|foodies.*"
    configure: "payment\..*|foodies.*"
    read: "payment\..*|foodies.*"
  rabbitmqClusterReference:
    name: rabbitmq
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: keycloak-service-permissions
spec:
  user: "keycloak_service"
  vhost: "/"
  permissions:
    write: "profile\.registration"
    configure: "profile\.registration"
    read: ""
  rabbitmqClusterReference:
    name: rabbitmq
