apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: foodies
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: webapp
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: foodies
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: foodies-webapp:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: HOST
              value: "0.0.0.0"
            - name: PORT
              value: "8080"
            - name: AUTH_ISSUER
              value: http://keycloak:8000/auth/realms/foodies-keycloak
            - name: AUTH_CLIENT_ID
              value: foodies
            - name: AUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: webapp-auth
                  key: AUTH_CLIENT_SECRET
