apiVersion: apps/v1
kind: Deployment
metadata:
  name: menu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: menu
  template:
    metadata:
      labels:
        app: menu
    spec:
      containers:
        - name: menu
          image: foodies-menu:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
              name: http
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          startupProbe:
            httpGet:
              path: /healthz/startup
              port: 8082
            periodSeconds: 2
            timeoutSeconds: 3
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /healthz/liveness
              port: 8082
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthz/readiness
              port: 8082
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: HOST
              valueFrom:
                configMapKeyRef:
                  name: menu-config
                  key: HOST
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: menu-config
                  key: PORT
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: menu-config
                  key: DB_URL
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_PASSWORD
            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: RABBITMQ_PASSWORD
            - name: RABBITMQ_EXCHANGE
              valueFrom:
                configMapKeyRef:
                  name: menu-config
                  key: RABBITMQ_EXCHANGE
            - name: RABBITMQ_QUEUE
              valueFrom:
                configMapKeyRef:
                  name: menu-config
                  key: RABBITMQ_QUEUE
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: foodies-config
                  key: OTEL_EXPORTER_OTLP_ENDPOINT
