name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  pull_request:

concurrency:
  group: 'ci-${{ github.head_ref || github.ref }}-${{ github.workflow }}'
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '24'

      - uses: gradle/actions/setup-gradle@v4

      - run: ./gradlew build -x :keycloak-rabbitmq-publisher:test -x :e2e:test

      - name: (Fail-only) Upload reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/**

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: failure()
        with:
          report_paths: '**/build/test-results/**/TEST-*.xml'
          check_name: 'Test Report'

  playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '24'

      - uses: gradle/actions/setup-gradle@v4

      - uses: docker/setup-buildx-action@v3

      - run: ./gradlew :keycloak-rabbitmq-publisher:test -x :e2e:test

      - name: (Fail-only) Upload reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/**

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: failure()
        with:
          report_paths: '**/build/test-results/**/TEST-*.xml'
          check_name: 'Test Report'
